<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Usuarios</title>
<!-- Bootstrap CSS -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body>
	<div class="container">
		<br>
		<h2 th:if="${list.isEmpty()}">No hay usuarios</h2>
		<div th:if="${!list.isEmpty()}">
			<h2>Usuarios</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Edad</th>
						<th>Zona</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user:${list}">
						<td th:text="${user.name}">
						<td th:text="${user.age}">
						<td th:text="${user.zone}">
						<td><a class="btn btn-primary"
							th:href="@{/saveUsuario/{id}(id=${user.id})}">Editar</a></td>
						<td><a class="btn btn-success"
							th:href="@{/delete/{id}(id=${user.id})}">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div>
			<a href="/saveUsuario/0" class="btn btn-primary">Agregar</a>
			<a class="btn btn-secondary" href="/">Volver</a>
		</div>
	</div>
</body>
</html>